@import "tailwindcss";

@font-face {
  font-family: TitilliumWeb-Bold;
  src: url("../src/assets/fonts/TitilliumWeb-Bold.ttf");
}

@font-face {
  font-family: TitilliumWeb-Regular;
  src: url("../src/assets/fonts/TitilliumWeb-Regular.ttf");
}

@theme {
  --font-titilliumWeb-regular: TitilliumWeb-Regular, 'sans-serif';
  --font-titilliumWeb-bold: TitilliumWeb-Bold, 'sans-serif';
  --color-nexus50: #E6F0FF;
  --color-nexus100: #CCE0FF;
  --color-nexus200: #99C2FF;
  --color-nexus300: #66A3FF;
  --color-nexus400: #3385FF;
  --color-nexus500: #0066FF;
  --color-nexus600: #0052CC;
  --color-nexus700: #003D99;
  --color-nexus800: #002966;
  --color-nexus900: #001433;
}

